<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5" skipfailedinvocationcounts="false" verbose="0" name="JSR-303-TCK" junit="false" annotations="JDK">
  <test name="JSR-303-TCK" junit="false">
    <method-selectors>
      <method-selector>
        <selector-class name="org.jboss.testharness.impl.testng.DisableIntegrationTestsMethodSelector" priority="0"/>
      </method-selector>
      <method-selector>
        <selector-class name="org.jboss.testharness.impl.testng.ExcludeIncontainerUnderInvestigationMethodSelector" priority="0"/>
      </method-selector>
    </method-selectors>
    <groups>
      <run>
        <exclude name="underInvestigation"/>
        <exclude name="ri-broken"/>
        <exclude name="jboss-as-broken"/>
        <exclude name="broken"/>
      </run>
    </groups>
    <!-- 
    <packages>
	  <package name="org.hibernate.jsr303.tck.tests">
	  </package>
    </packages>
     -->
    <classes>

      <class name="org.hibernate.jsr303.tck.tests.bootstrap.ConfigurationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.CustomMessageInterpolatorTest$1"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.CustomMessageInterpolatorTest$DummyMessageInterpolator"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.CustomMessageInterpolatorTest$Person"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.CustomMessageInterpolatorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.customprovider.BootstrapCustomProviderDefinedInServiceFileTest"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.customprovider.BootstrapCustomProviderDefinedInValidationXmlTest$1"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.customprovider.BootstrapCustomProviderDefinedInValidationXmlTest"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.customprovider.BootstrapUnknownCustomProviderTest"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.ValidationProviderResolverTest"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.ValidationProviderTest$1"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.ValidationProviderTest$2"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.ValidationProviderTest$3"/>
      <class name="org.hibernate.jsr303.tck.tests.bootstrap.ValidationProviderTest"/>
 
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.Building"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.Citizen"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.DummyGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.Person$Gender"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.Person"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.SecurityCheck$SecurityCheckValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.SecurityCheck"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.SuperWoman"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.TightSecurity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.ValidationRequirementTest$StaticFieldsAndProperties"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.ValidationRequirementTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.Visibility"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.application.Woman"/>

	  <!-- 
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$AssertFalseDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$AssertTrueDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$DecimalMaxDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$DecimalMinDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$DigitsDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$FutureDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$MaxDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$MinDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$NotNullDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$NullDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$PastDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$PatternDummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest$SizeDummyEntity"/>
      -->
      
      <!-- 
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinConstraintsTest"/>
       --> 
      
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinValidatorOverrideTest$DummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.BuiltinValidatorOverrideTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.builtinconstraints.InvertedNotNullValidator"/>
      
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.Address"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.ConstraintCompositionTest$DummyEntityWithZipCode"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.ConstraintCompositionTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.FrenchAddress$FullAddressCheck"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.FrenchAddress"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.FrenchZipcode"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.FrenchZipcodeConstraintValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.FrenchZipcodeWithInvalidOverride"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.Friend"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.GermanAddress"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.GermanZipcode$GermanZipcodeConstraintValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.GermanZipcode"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.Name"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.CompositeConstraint1"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.CompositeConstraint2"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.CompositeConstraint3"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.CompositeConstraint4"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.NestedCompositeConstraint"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.NestedConstraintCompositionTest$DummyEntity1"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.NestedConstraintCompositionTest$DummyEntity2"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.NestedConstraintCompositionTest$DummyEntity3"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.NestedConstraintCompositionTest$DummyEntity4"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.NestedConstraintCompositionTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.nestedconstraintcomposition.NestedConstraintSingleViolation"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.NotEmpty$DummyGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.NotEmpty$NotEmptyValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.NotEmpty"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.Severity$Error"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.Severity$Info"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.Severity$Warn"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.Severity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintcomposition.Shoe"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintdefinition.AlwaysValid$StaticConstraintValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintdefinition.AlwaysValid"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintdefinition.AlwaysValidList"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintdefinition.ConstraintDefinitionsTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.constraintdefinition.Person"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.Author"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.BoundariesConstraintValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.CustomConstraintValidatorTest$Freezer"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.CustomConstraintValidatorTest$OddShoe"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.CustomConstraintValidatorTest$Shoe"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.CustomConstraintValidatorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.Negative"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.NegativeConstraintValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.Positive"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.customconstraint.PositiveConstraintValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Address$Complete"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Address$HighLevelCoherence"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Address"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Animal$Domain"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Animal"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Auditable"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Author"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Book$All"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Book"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Car$Test"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Car"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.CreditCard"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.CyclicGroupSequence"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.CyclicGroupSequence1"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.CyclicGroupSequence2"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.DefaultAlias"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.DefaultGroupRedefinitionTest$AddressWithDefaultInGroupSequence"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.DefaultGroupRedefinitionTest$AddressWithNoImplicitDefaultGroupSequence"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.DefaultGroupRedefinitionTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.First"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.Complete"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest$All"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest$AllReverse"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest$Car"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest$First"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest$InvalidGroupSequence"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest$Mixed"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest$Second"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest$Third"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.SequenceResolutionTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.TestEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequence.TimeConsumingChecks"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.A"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.B1"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.B2"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.B3"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.C"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.Complete"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.D1"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.E"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.F1"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.GroupSequenceIsolationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.Heavy"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.IsAdult$IsAdultValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.IsAdult"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.Later"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.Minimal"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.SafeEncryption$SafeEncryptionValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.groupsequenceisolation.SafeEncryption"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.GroupTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.inheritance.GroupInheritanceTest$All"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.inheritance.GroupInheritanceTest$MiniaturePart"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.inheritance.GroupInheritanceTest$Part"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.inheritance.GroupInheritanceTest$PostManufacturing"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.inheritance.GroupInheritanceTest$PreManufacturing"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.inheritance.GroupInheritanceTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Last"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Order"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.Second"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.User$Billable"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.User$BuyInOneClick"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.User$Optional"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.User"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.ZipCodeCoherenceChecker"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.groups.ZipCodeCoherenceValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.inheritance.Bar"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.inheritance.ConstraintInheritanceTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.inheritance.Foo"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.inheritance.Fubar"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityInvalidDefaultGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityInvalidDefaultPayload"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityInvalidGroupsType"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityInvalidMessageType"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityInvalidPayloadClass"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityNoGroups"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityNoMessage"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityNoPayload"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest$DummyEntityValidProperty"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidConstraintDefinitionsTest"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidDefaultGroup$InvalidDefaultGroupValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidDefaultGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidDefaultPayload$DummyPayload"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidDefaultPayload$InvalidDefaultGroupValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidDefaultPayload"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidGroupsType$InvalidDefaultGroupValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidGroupsType"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidMessageType$InvalidDefaultGroupValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidMessageType"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidPayloadClass$InvalidDefaultGroupValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.InvalidPayloadClass"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.NoGroups$NoGroupsValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.NoGroups"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.NoMessage$NoMessageValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.NoMessage"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.NoPayload$NoGroupsValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.NoPayload"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.ValidInPropertyName$ValidPropertyValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.invalidconstraintdefinitions.ValidInPropertyName"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Ambiguous$AmbiguousValidatorForDummy"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Ambiguous$AmbiguousValidatorForSerializable"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Ambiguous"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Bar"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.BaseClass"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Coordinate"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.CustomConstraint$ValidatorBaseClass"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.CustomConstraint$ValidatorForCustomClass"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.CustomConstraint$ValidatorForCustomInterface"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.CustomConstraint$ValidatorForSubClassA"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.CustomConstraint$ValidatorForSubClassB"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.CustomConstraint"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Dummy"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Foo"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.MinMax"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.SerializableBarSubclass"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.SubClassA"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.SubClassB"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Suburb$Facility"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.Suburb"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.ValidatorResolutionTest$CustomClass"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.ValidatorResolutionTest$CustomInterface"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.ValidatorResolutionTest$CustomInterfaceImpl"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.ValidatorResolutionTest$SubClassAHolder"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.ValidatorResolutionTest$SubClassBHolder"/>
      <class name="org.hibernate.jsr303.tck.tests.constraints.validatorresolution.ValidatorResolutionTest"/>
      <class name="org.hibernate.jsr303.tck.tests.messageinterpolation.MessageInterpolationTest$DummyEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.messageinterpolation.MessageInterpolationTest$Person"/>
      <class name="org.hibernate.jsr303.tck.tests.messageinterpolation.MessageInterpolationTest$TestContext"/>
      <class name="org.hibernate.jsr303.tck.tests.messageinterpolation.MessageInterpolationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.Account"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.AccountChecker"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.AccountValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.BeanDescriptorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.ConstraintDescriptorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.Customer"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.ElementDescriptorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.Man"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.NotEmpty$UnusedPayload"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.NotEmpty"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.Order"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.Person$PersonValidation"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.Person"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.PropertyDescriptorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.Severity$Info"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.Severity"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.SubClass$DefaultGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.SubClass"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.SuperClass$BasicGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.SuperClass$InheritedGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.SuperClass$UnusedGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.SuperClass"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.SuperConstraint"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.SuperConstraintValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.metadata.UnconstraintEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.ExceptionThrowingTraversableResolver"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.Jacket"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.Person"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.SnifferTraversableResolver$1"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.SnifferTraversableResolver$Call"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.SnifferTraversableResolver"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.Suit"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.TraversableResolverTest$1"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.TraversableResolverTest$DummyTraversableResolver"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.TraversableResolverTest"/>
      <class name="org.hibernate.jsr303.tck.tests.traversableresolver.Trousers"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Actor"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ActorArrayBased"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ActorListBased"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Address$Minimal"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Address"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.BadlyBehavedEntity"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Boy"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Customer"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Engine"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.First"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Address"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Animal"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.AnimalCaretaker"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Child"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Condor"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Elephant"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.GameReserve"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.GraphNavigationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Herd"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.MultiCage"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Order"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.OrderLine"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Parent$ChildFirst"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Parent$ParentSecond"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Parent$ProperOrder"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Parent"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.SingleCage"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.User"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Zebra"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.graphnavigation.Zoo"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Last"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.NotEmpty"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Order"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Person"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.PlayedWith"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.PropertyPathTest$ActorDB"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.PropertyPathTest$Special"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.PropertyPathTest$SpecialValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.PropertyPathTest$VerySpecialClass"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.PropertyPathTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.Second"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.UnknownProviderBootstrapTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidatePropertyTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidateTest$Car"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidateTest$First"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidateTest$Second"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidateTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidateValueTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidateWithGroupsTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidationTest$1"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidationTest$2"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.ValidationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.ConstraintValidatorContextTest$CompatiblePersons"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.ConstraintValidatorContextTest$CompatiblePersonsValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.ConstraintValidatorContextTest$Gender"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.ConstraintValidatorContextTest$Group"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.ConstraintValidatorContextTest$Person"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.ConstraintValidatorContextTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.Dummy"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.DummyBean"/>
      <class name="org.hibernate.jsr303.tck.tests.validation.validatorcontext.DummyValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.validatorfactory.CustomConstraintValidatorTest$1"/>
      <class name="org.hibernate.jsr303.tck.tests.validatorfactory.CustomConstraintValidatorTest$Dummy"/>
      <class name="org.hibernate.jsr303.tck.tests.validatorfactory.CustomConstraintValidatorTest$SecondDummy"/>
      <class name="org.hibernate.jsr303.tck.tests.validatorfactory.CustomConstraintValidatorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.validatorfactory.MyConstraint"/>
      <class name="org.hibernate.jsr303.tck.tests.validatorfactory.MyConstraintValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.validatorfactory.MySecondConstraint"/>
      <class name="org.hibernate.jsr303.tck.tests.validatorfactory.MySecondConstraintValidator"/>

      <!-- 
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.ConfigurationDefinedConstraintValidatorFactoryResolver"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.ConfigurationDefinedMessageInterpolator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.ConfigurationDefinedTraversableResolver"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.ConsistentUserInformation"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.ConsistentUserValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.clazzlevel.ClassLevelOverridingTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.clazzlevel.Optional"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.clazzlevel.Package"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.clazzlevel.PrePosting"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.clazzlevel.ValidPackage$ValidPackageValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.clazzlevel.ValidPackage"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.ConfigurationViaXmlAndAnnotationsTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.ConfiguredBeanNotInClassPathTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.ConstraintDeclarationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.DefaultSequenceDefinedInXmlTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.fieldlevel.CreditCard"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.fieldlevel.ExcludeFieldLevelAnnotationsDueToBeanDefaultsTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.fieldlevel.FieldLevelOverridingTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.fieldlevel.IncludeFieldLevelAnnotationsDueToBeanDefaultsTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.fieldlevel.User"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.fieldlevel.WrongFieldNameTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.MandatoryNameAttributeTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.MissingMandatoryElementTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.Optional"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.Package"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.PrePosting"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.propertylevel.CreditCard"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.propertylevel.ExcludePropertyLevelAnnotationsDueToBeanDefaultsTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.propertylevel.IncludePropertyLevelAnnotationsDueToBeanDefaultsTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.propertylevel.PropertyLevelOverridingTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.propertylevel.User"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.propertylevel.WrongPropertyNameTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.ReservedElementNameTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.User"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.ValidPackage$ValidPackageValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdeclaration.ValidPackage"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdefinition.DummyLengthValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdefinition.Length"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdefinition.LengthValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdefinition.Name"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.constraintdefinition.XmlConfiguredConstraintValidatorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.ConstraintValidatorFactorySpecifiedInValidationXmlTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.CreditCard"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.CustomConsistentUserValidator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.DefaultProviderSpecifiedInValidationXmlTest$1"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.DefaultProviderSpecifiedInValidationXmlTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.DuplicateConfigurationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.Error"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.InvalidXmlConfigurationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.MessageInterpolatorSpecifiedInValidationXmlNoDefaultConstructorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.MessageInterpolatorSpecifiedInValidationXmlTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.MissingClassNameOnBeanNodeTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.Optional"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.OptionalValidationXmlTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.Order"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.OrderLine"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.TestGroup"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.TraversableResolverSpecifiedInValidationXmlNoDefaultConstructorTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.TraversableResolverSpecifiedInValidationXmlTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.User"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.UserType"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.XmlConfigurationTest"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.XmlDefinedConstraintValidatorFactory"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.XmlDefinedMessageInterpolator$NoDefaultConstructorInterpolator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.XmlDefinedMessageInterpolator"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.XmlDefinedTraversableResolver$NoDefaultConstructorResolver"/>
      <class name="org.hibernate.jsr303.tck.tests.xmlconfiguration.XmlDefinedTraversableResolver"/>
       -->
    </classes>
  </test>
</suite>
